# import common bazelrc shared with e2e workspaces
import %workspace%/../../.bazelrc.common

# used by test.sh to invoke bazel with different configurations
try-import %workspace%/.bazelrc.test

build:verbose --define=VERBOSE_LOGS=1