# See https://docs.aspect.build/workflows/configuration
workspaces:
    .:
        icon: typescript
        label: rules_ts
    e2e/smoke:
        tasks:
            - bazel-6:
                  without: true
            - bazel-7:
                  queue: aspect-medium
            - bazel-8:
                  queue: aspect-medium
            - format:
                  without: true
            - buildifier:
                  without: true
    e2e/bzlmodules:
        tasks:
            - bazel-6:
                  without: true
            - bazel-7:
                  queue: aspect-medium
            - bazel-8:
                  queue: aspect-medium
            - format:
                  without: true
            - buildifier:
                  without: true
    e2e/external_dep:
        tasks:
            - bazel-6:
                  queue: aspect-medium
            - bazel-7:
                  queue: aspect-medium
            - bazel-8:
                  queue: aspect-medium
            - format:
                  without: true
            - buildifier:
                  without: true
    e2e/worker:
        tasks:
            - bazel-6:
                  queue: aspect-medium
            - bazel-7:
                  queue: aspect-medium
            - bazel-8:
                  queue: aspect-medium
            - format:
                  without: true
            - buildifier:
                  without: true
    e2e/test:
        tasks:
            - bazel-6:
                  queue: aspect-medium
            - bazel-7:
                  queue: aspect-medium
            - bazel-8:
                  queue: aspect-medium
            - format:
                  without: true
            - buildifier:
                  without: true
tasks:
    - test:
          name: 'Test (Bazel 6.x)'
          id: bazel-6
          bazel:
              flags:
                  - --incompatible_merge_fixed_and_default_shell_env
          env:
              USE_BAZEL_VERSION: 6.x
    - test:
          name: 'Test (Bazel 7.x)'
          id: bazel-7
          env:
              USE_BAZEL_VERSION: 7.x
    - test:
          name: 'Test (Bazel 8.x)'
          id: bazel-8
          env:
              USE_BAZEL_VERSION: 8.x
    - format:
          queue: aspect-medium
          use_args_file: false
    - buildifier:
          queue: aspect-medium
    - finalization:
          queue: aspect-small
notifications:
    github: {}
