import %workspace%/tools/preset.bazelrc

common --config=ruleset

common --@aspect_rules_ts//ts:skipLibCheck=honor_tsconfig
common --@aspect_rules_ts//ts:default_to_tsc_transpiler

# Required for the tsc js_binary entry_point (inside a tree artifact) on Windows.
common:windows --enable_runfiles

# verbose
common:verbose --@aspect_rules_ts//ts:verbose --worker_verbose

# Build without the bytes
common:ci --remote_download_outputs=minimal
common:ci --nobuild_runfile_links

# Override the preset's `--lockfile_mode=error` on CI since we don't
# yet commit MODULE.bazel.lock — see .gitignore.
common:ci --lockfile_mode=off
