import %workspace%/../../tools/preset.bazelrc

### YOUR PROJECT SPECIFIC OPTIONS GO HERE ###

common --@aspect_rules_ts//ts:skipLibCheck=honor_tsconfig
# NB: comment this line out to test the legacy path to @com_google_protobuf//:protoc
common --incompatible_enable_proto_toolchain_resolution
