{
    "$schema": "https://json.schemastore.org/swcrc",
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "tsx": true
        },
        "target": "es2018"
    },
    "module": {
        "type": "commonjs"
    },
    "minify": false
}
   