name: CI

# Controls when the action will run.
on:
    # Triggers the workflow on push or pull request events but only for the main branch
    push:
        branches: [main]
    pull_request:
        branches: [main]

    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

jobs:
    # Dynamically generate a bit of JSON depending on whether our action has access to repository secrets.
    # When running on a pull_request from a fork, the author is untrusted so the secret will be absent.
    # Insanely complex for how simple this requirement is... inspired from
    # https://stackoverflow.com/questions/65384420/how-to-make-a-github-action-matrix-element-conditional
    matrix-prep:
        runs-on: ubuntu-latest
        env:
            ENGFLOW_PRIVATE_KEY: ${{ secrets.ENGFLOW_PRIVATE_KEY }}
        steps:
            - id: local
              run: echo "config=local" >> $GITHUB_OUTPUT
            - id: maybe-rbe
              if: ${{ env.ENGFLOW_PRIVATE_KEY != '' }}
              run: echo "config=rbe" >> $GITHUB_OUTPUT
        outputs:
            # Will look like '["local", "rbe"]'
            configs: ${{ toJSON(steps.*.outputs.config) }}

    test:
        # The type of runner that the job will run on
        runs-on: ubuntu-latest
        needs: matrix-prep

        strategy:
            fail-fast: false
            matrix:
                config: ${{ fromJSON(needs.matrix-prep.outputs.configs) }}
                folder:
                    - '.'
                    # TODO: figure out and re-enable
                    # - 'e2e/bzlmod'
                    - 'e2e/workspace'
                    - 'e2e/worker'
                    - 'e2e/worker_workspace'
                exclude:
                    # bzlmod broken at 5.3.0 which the RBE bazel fork is bazed on
                    - config: rbe
                      folder: e2e/bzlmod
                    # TODO: e2e/worker needs a bit of to be configured for RBE
                    - config: rbe
                      folder: e2e/worker
                    - config: rbe
                      folder: e2e/worker_workspace

        # Steps represent a sequence of tasks that will be executed as part of the job
        steps:
            # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
            - uses: actions/checkout@v3
            # Cache build and external artifacts so that the next ci build is incremental.
            # Because github action caches cannot be updated after a build, we need to
            # store the contents of each build in a unique cache key, then fall back to loading
            # it on the next ci run. We use hashFiles(...) in the key and restore-keys- with
            # the prefix to load the most recent cache for the branch on a cache miss. You
            # should customize the contents of hashFiles to capture any bazel input sources,
            # although this doesn't need to be perfect. If none of the input sources change
            # then a cache hit will load an existing cache and bazel won't have to do any work.
            # In the case of a cache miss, you want the fallback cache to contain most of the
            # previously built artifacts to minimize build time. The more precise you are with
            # hashFiles sources the less work bazel will have to do.
            - name: Mount bazel caches
              uses: actions/cache@v3
              with:
                  path: |
                      "~/.cache/bazel"
                      "~/.cache/bazel-repo"
                  key: bazel-cache-${{ hashFiles('**/BUILD.bazel', '**/*.bzl', 'WORKSPACE') }}
                  restore-keys: bazel-cache-
            - name: Write engflow credentials
              if: ${{ matrix.config == 'rbe' }}
              working-directory: ${{ matrix.folder }}
              run: |
                  touch engflow.crt engflow.key
                  chmod 0600 engflow.crt engflow.key
                  echo "$ENGFLOW_CLIENT_CRT" > engflow.crt
                  echo "$ENGFLOW_PRIVATE_KEY" > engflow.key
                  echo "USE_BAZEL_VERSION=aspect-build/6.0.0-aspect1" >> $GITHUB_ENV
              env:
                  ENGFLOW_CLIENT_CRT: ${{ secrets.ENGFLOW_CLIENT_CRT }}
                  ENGFLOW_PRIVATE_KEY: ${{ secrets.ENGFLOW_PRIVATE_KEY }}
            - name: bazel test //...
              env:
                  # Bazelisk will download bazel to here, ensure it is cached between runs.
                  XDG_CACHE_HOME: ~/.cache/bazel-repo
              working-directory: ${{ matrix.folder }}
              run: bazel --bazelrc=$GITHUB_WORKSPACE/.github/workflows/ci.bazelrc --bazelrc=.bazelrc test --config=${{ matrix.config }} //...
            # Some tests need buildozer to manipulate BUILD files.
            - uses: actions/setup-go@v3
              if: ${{ hashFiles(format('{0}/test.sh', matrix.folder)) != '' }}
              with:
                  go-version: '1.17.0'
            - run: go install github.com/bazelbuild/buildtools/buildozer@latest
              if: ${{ hashFiles(format('{0}/test.sh', matrix.folder)) != '' }}
            - name: run ./test.sh
              working-directory: ${{ matrix.folder }}
              # hashFiles returns an empty string if test.sh is absent
              if: ${{ hashFiles(format('{0}/test.sh', matrix.folder)) != '' }}
              run: ./test.sh
